@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');
$rose: rgb(255,
105,
120);
$white: rgb(248,
248,
248);
$red: rgb(206,
58,
77);
$blue: #366db6;
$black: rgb(19,
18,
22);
$sd-font: 'Oswald',
sans-serif;
$pm-font: 'Cutive Mono',
monospace;